/* Chrome, Safari, Opera */
@-webkit-keyframes image_animation {
    from {height: 0px;width: 0px; }
    to {height: 222px;width: 100%;}
}

/* Standard syntax */
@keyframes image_animation {
    from {height: 0px;width: 0px;}
    to {height: 222px;width: 100%;}
}