/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a{
   text-decoration: none !important;
}
 body{
  background-color: #EDEDED;
 }

 .container{
 	margin: auto;
 	width: 90%;
 	height: 400px;
 }

.category_item{
  float: left;
  width: 22.7%;
  height: auto;
  border: 1px solid #e1e8ed;
  margin: 1%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.video_index_txt{
  color: #949494;
  text-align: left;
  margin: 4px;
}
.video_index_txt_span1{font-weight: bold;color: #0084B4;}
.video_index_txt_span2 span{ color: #404040; font-size: 0.95em; font-weight: bold; }
.video_index_txt_span3{font-size: 0.8em; float: left;}
.video_index_txt_span4{font-size: 0.8em; float: right;}

@media screen and (max-width: 1000px) { 
   .category_item{
    float: left;
    width: 31%;
    height: 48%;
    border: 1px solid #e1e8ed;
    margin: 1%;
    margin-bottom: 30px;
   }
}

@media screen and (max-width: 700px) { 
   .category_item{
    float: left;
    width: 47%;
    height: 48%;
    border: 1px solid #e1e8ed;
    margin: 1%;
    margin-bottom: 30px;
   }
}

@media screen and (max-width: 400px) { 
   .category_item{
    float: left;
    width: 96%;
    height: 48%;
    border: 1px solid #e1e8ed;
    margin: 2%;
    margin-bottom: 30px;
   }
}