@media screen and (max-width: 1000px) {
  .container{
    padding-top: 62px;
    margin: auto;
    width: 96%;
  }

  .container_item{
    float: left;
    width: 47%;
    height: 320px;
    border: 1px solid #e1e8ed;
    margin: 1%;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding-bottom: 10px;  
   }

   .navigation_float_link{margin-left: 20px;text-align: center;font-weight: bold;font-size: 1.5em; height: 32px;background-color: #ffffff;}
}