<div class="container">
  <% @categories.each do |c| %>
    <div class="full_div_category_index"><%= c[0].capitalize if c[0] %></div>
    <% c[1].each do |category| %>
      <div class="category_index_item">
        <%= link_to image_tag(category.category_photo_url.to_s, :width => "100%", :height => "125px"), category_path(category) , :class => "category_index_item_image"%>
        <br>
        <%= "#{category.category_name}(#{category.videos.size})" %>
      </div>
    <% end %>
  <% end %>	
</div>