<div class="navigation">
  <a href="/categories"><div class="navigation_links <%= @category_border_class %>">Categories</div></a>
  <a href="/channels"><div class="navigation_links <%= @channel_border_class %>">Channels</div></a>
  <a href="/videos"><div class="navigation_links <%= @video_border_class%>">Videos</div></a>
</div>