<div class="navigation">
  <div class="navigation_links <%= @border_class %>"><%= link_to "Categories", categories_path %></div>
  <div class="navigation_links"><%= link_to "Channels", channels_path %></div>
  <div class="navigation_links"><%= link_to "Videos", videos_path %></div>
</div>